.first-layout {
  height: 100vh;
  background-color: #d2d2d2;
}

.second-layout {
  margin: 8px;
  background-color: #d2d2d2;
}

.content {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  overflow: auto;
}

.title-app {
  background-color: white;
  margin: 4px;
  border-radius: 8px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}