.first-layout {
  height: 100vh;
  background-color: #d2d2d2;
}

.second-layout {
  margin: 8px;
  background-color: #d2d2d2;
}

.content {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  overflow: auto;
}

.header-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001529;
  color: white;
}

.right-components {
  display: flex;
}

.logout-base {
  margin-left: 16px;
  margin-right: 16px;
}

.title-app {
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 16px;
}



.menu-support {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22,119,255);
  color: white;
  position: fixed;
  bottom: 0;
  margin-bottom: 16px;
  margin-left: 12px;
  width: 174px;
  height: 70px;
  border-radius: 8px;
}

.menu-info {
  font-weight: 600;
  width: 87px;
  margin-right: 16px;
}