.first-layout {
  height: 100vh;
}

.second-layout {
  margin: 8px;
}

.content {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
}

.title-app {
  background-color: white;
  margin: 4px;
  border-radius: 8px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}